export DATABASE_URL=postgresql://authy:rEWWdj7wychw@144.91.76.36:5432/authy?sslmode=disable
export VALKEY_URL=144.91.76.36:6379
export JWT_SECRET=XQtmm6HFUxOyZ8Z/v6nUHirbPkHm7atNbGG4tH6upPzSP+GnEsnWFrstig6ltJcK
export JWT_EXPIRATION=3600
export REFRESH_EXPIRATION=604800
export LOG_LEVEL=info
export ENVIRONMENT=development
export PORT=8080
export VERSION=1.0.0
export SERVICE_NAME=Authy Authentication Service
export VITE_API_UTL=https://authy.gebne.org.ve/api/v1
